@model IEnumerable<LibraryProject.DataBase.IssuedBook>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    int count = 1;
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-12">
        <div class="card card-topline-aqua">

            <div class="card-body ">
                <div class="table-scrollable">
                    <table id="example1" class="display" style="width:100%;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Book Name</th>
                                <th>Student Name</th>
                                <th>Reg No.</th>
                                <th>Status</th>
                                <th>Rturn Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@count</td>
                                <td>@item.Book.BookName</td>
                                <td>@item.Student.StudentName</td>
                                <td>@item.Student.StudentRegistrationNumber</td>
                                <td>@item.Status</td>
                                <td>123456</td>
                                <td>
                                    <a href="/IssuedBooks/edit/@item.IssuedBookID">Update</a>
                                    <a href="/IssuedBooks/delete/@item.IssuedBookID">   Delete</a>

                                </td>
                            </tr>
                                count++;
                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
