@model LibraryProject.DataBase.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Student  Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Student Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayName("Student Registration Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentRegistrationNumber)
        </dd>

        <dt>
            @Html.DisplayName("Student Email Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>

        <dt>
            @Html.DisplayName("Student Password")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentPassword)
        </dd>

        <dt>
            @Html.DisplayName("Student Mobile Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentMobileNumber)
        </dd>

        <dt>
            @Html.DisplayName("is Student Bann")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Student_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
