@model List<LibraryProject.DataBase.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    int count = 1;
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
     
        <div class="row">
            <div class="col-md-12">
                <div class="card card-topline-aqua">
                   
                    <div class="card-body ">
                        <div class="table-scrollable">
                            <table id="example1" class="display" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Registration</th>
                                       
                                        <th>Mobile</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
    {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.StudentName</td>
                                    <td>@item.StudentEmail</td>
                                    <td>@item.StudentRegistrationNumber</td>
                                    <td>@item.StudentMobileNumber</td>
                                    <td>
                                        <a href="/students/edit/@item.Student_ID">Update</a>
                                        <a href="/students/delete/@item.Student_ID">   Delete</a>
                                        
                                    </td>
                                </tr>
                                        count++;
                                    }



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    

